* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
  }  
body {
    width: 100%;
    font-family: Garamond, Sans-serif;
    font-size: 20px;
    background: #2BBDBD;
    background-size: 400px 400px;
    color: #333233;
  }
  header .titulo{
    font-size: 50px;
    color: #2BBDBD;
    margin-left: 150px;
    margin-top: -30px;  
    text-align: center;
    
  }
  .contenedor {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background: #333232;
    padding: 20px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
 }

 /*codigo antiguo*/
 header {
    height:280px;
    width:100%;
    padding:13px;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:center;
    background: #333232;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
/*codigo antiguo*/

header nav {
    
    width: 100%;
    font-size: 26px;
    height: 60px;
    align-items:flex-start;
    margin:0 auto;
}

/*nuevo: este fragmento de codigo es nuevo lo añadi para hacer el menu desplegable*/
nav{
  margin: 0 auto;
  max-width: 760px;/* aquiiiii*/
  background-color:#2BBDBD;
  
}

/*nuevo: este fragmento de codigo es nuevo use la clase navegacion dicha clase hace referencia a nav*/
.navegacion {
  list-style: none;
  text-align: center;
  padding:0; 
  
}

/*esta parte de codigo coloque como parte del menu desplegable*/
/*nuevo sirve para que el primer elemento hijo se muestre en bloque*/
.navegacion li:first-child{
  display:block;
}

/*esta parte de codigo coloque como parte del menu desplegable*/
/*nuevo sirve para que solo se muestre la etiqueta menu*/
.navegacion li {
  display: none;
  
}
/*a esta parte de codigo coloque como parte del menu desplegable*/
.navegacion a{
  display: block;
  color:#2BBDBD;
  padding: 10px;/*nuevo*/
  text-align: center;
  text-decoration: none;
  background:#464040 ;
}
/*esta parte de codigo coloque como parte del menu desplegable*/
.navegacion a:hover{
  color:#2BBDBD;
  background-color: #464040;
  font-weight: 700;
  cursor: pointer;
}

/* este codigo es antiguo por siacaso lo deje como comentario*/
/*
header nav ul {
     list-style: none;
     overflow: hidden; 
}
header nav ul li {
    float: left; 
}
header nav ul li a {
   text-decoration: none;
   display: inline-block;
   color: #2BBDBD;
   padding: 10px 8px; }
header nav ul li a {
     color: #ffffff; 
}*/

header .logo img {
     flex-basis: 180px;
     margin-top: -145px;
     margin-left: -75px;
     border-radius: 20px;
 }

.articulo {
    background: #dee1e1;
    border-radius: 20px;
    height: 700px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
#contenido{
  font-size:26px;
}
.parrafo{
  text-align: justify;
  line-height: 500px;
}
#Destacado {
    border-bottom-color: #2BBDBD;
    font-size:26px ;
    border-bottom-width: 5px;
    border-bottom-style:solid;
}
#ParrafoDestacado{
   border-color: #2BBDBD;
   border-width: 10px;
   padding: 10px;
   border-style: solid;
}
main {
    width:1000px;
    float: left;
    background: #333232;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;;
    
}
main .CORONAVIRUS-INDEX img{  
   width: 1000px; 
   vertical-align: top;
   border-radius: 20px;
}
 main .articulo {
    padding: 50px; 
}
 main .articulo article h2 {
    margin-bottom: 20px;
    color: #333232; 
}
main .articulo article p {
    margin-bottom: 15px;
    line-height: 27px; 
}


aside{
  width: 30%;
  height: 1210px;
  background:#1e8bc2;
  border-radius: 20px;
  color: #ffffff;
  font-size: 26px;
  font-family: Garamond;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 40px;
  padding: 50px;
  position: absolute;
  top:280px;
  left: 1000px;
  float:right;
  
}
/*para quitar los puntos de los links de los articulos destacados*/
aside ul li{
  list-style: none;
}
aside ul li a{
  text-decoration: none;
  color:#464040;
}


footer {
  width: 98%;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 10px ;
  overflow: hidden;
  text-align: center;
  background: #333233;
  color: #dee1ed;
  padding: 15px 0;
  border-radius: 20px;
 
 }

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

 
@media only screen and (min-width:1024px) {
 

	.navegacion {
		display: flex;
	}
	.navegacion li:first-child{
		display: none;
	}
	.navegacion li{
    display: inline-block;
		flex: 1 1 100%;
	}
	.navegacion li a {
		color: #DEE1E1;
  }
 
 
  
}
 




