
.menu-principal{
    position: fixed;
    width: 100%;
    height: 90px;
    margin: 0px 0px;
    background: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
   
    
}
.menu-principal .opciones-menu{
    margin-right: 10px;
}
.menu-principal .opciones-menu .opciones{
   display: flex;
}
.menu-principal .opciones-menu .opciones li{
   list-style: none;
}
.menu-principal .opciones-menu .opciones li a{
   text-decoration: none;
   margin: 0px 15px;
   padding: 15px;
   color: #1a1818;
   border-radius: 5px;
   font-size: 20px;
   transition: 0.4s;
}
.menu-principal .opciones-menu .opciones li a.forma{
   background: #2bbdbd;
   color: #ffffff;
}
.menu-principal .opciones-menu .opciones li a:hover{
   background: #2bbdbd;
   color: #ffffff;
}
.boton-menu >.logo-menu{
display: none;
}
.logo{
   width: 30%;
}
.head #logotipo{
   width: 100%;
   padding: 0px 0px;
}
@media only screen and (max-width:1200px){
    .boton-menu >.logo-menu{
        display:block;
        position: absolute;
        right: 50px;
        top: 20px;
        font-size: 30px;
        color: #1a1818;
        transition: 0.5s;
        cursor: pointer;
    }
    .boton-menu >.fa-times{color: #2bbdbd;}
    .boton-menu >.logo-menu:hover{color: #2bbdbd;}
    .menu-principal .opciones-menu{
        position: fixed;
        top: 60px;
        left: -100%;
        background: #ffffff;
        width: 100%;
        height: calc(100vh - 60px);
    }
    .menu-principal .opciones-menu .opciones{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 3px solid #2bbdbd;
    }
    .menu-principal .opciones-menu ul li{
        width: 95%;
        border-bottom: 3px solid #1a1818;
        display: flex;
        justify-content: center;
    }
    .menu-principal .opciones-menu ul li a{
        font-size: 22px;
        text-align: center;
        padding: 110px 0px;
    }
    .menu-principal .opciones-menu ul li a.active{
        background: none;
        color: #2bbdbd;
    }
    }
/*Imagenes*/
*{
   margin:0;
   padding:0;
   box-sizing: border-box; /*, si se define un elemento con un ancho de 100 pixeles. Esos 100 pixeles incluíran cualquier borde o relleno que se añadan*/
}
body{
    background:black;
    
}

#titulo-galeria{

    text-align: center; /*titulo estara alineado a la izquierda*/
    padding: 15px;
    margin-bottom:40px;
    position: relative;
    top:70px;
    left:0;
    color:black;
}
.contenedor-imagenes{
 padding: 40px;/*es nesesario por que si no el menu desplegable tapa parte de la imagen*/
 display:flex;/*mediante esta propiedad podremos posicionar distribuir las imagenes dentro de esta caja*/
 width:85%;
 margin:0 auto;  /*para centrar*/
 justify-content:space-around;/*alinea horizontalmente los elementos pero con la misma separacion entre ellos*/
 flex-wrap:wrap;/*posiciona los elementos sobre otras lineas adicionales*/

}

.contenedor-imagenes .imagen{
 width:40%;/*para que la cajas que contienen las imagenes  tengan un ancho del 40%*/
 position:relative;/*esta propiedad sera util cuando lo combinemos con absolute*/
 height:250px;/*cambie 250px*/
 margin-bottom:50px;/*margen superior*/
}
.imagen .multimedia{
  width: 100%; /*con esto cada etiqueta img osea cada imagen abarcara el 100% de su caja padre (.imagen)*/
  height: 100%;  /*osea tendran un ancho del 40% y alto de 250px ya establecido en su caja padre*/
  object-fit: cover;
 
 
}
/*esta caja contiene un titulo descriptivo de la imagen*/
.Descripcion{/*anteriormente puse un position relative que ahora me servira con el absolute*/
    position:absolute;/*con el absolute se posicionara esta caja de acuerdo a la posicion de su caja padre (.imagen) si te das cuenta toma como referencia la imagen*/
    bottom:0px; /*para que le titulo descriptivo se posicione 22 pixeles mas abajo de la imagen*/     
    left:0; /*con esto va estar el titulo a la misma rectura izquierda de su imagen*/
    background:#70f3f3;
    width:100%;/*hasta aqui se vera que el fondo de color abarca el 100% de ancho de la etiqueta h2*/
    height:0%; /*en esta parte no se vera el titulo descriptivo ya que tiene alto de 0 y por que ademas tiene overflow hidden */
    overflow: hidden; /*mediante esto el contenido es recortado solo muestra de acuerdo a las dimensiones especificadas*/
   transition: 1s ease;/*para una transicion lenta rapida y por ultimo lenta*/

}   
.titulo-descriptivo{
    color:white; 
    font-size:20px;
    position:absolute; /*posicion absoluta de acuerdo a su caja padre imagen*/
    top:40%;    /*Estos valores fueron colocados  de acuerdo a pruebas para centrar el titulo descriptivo*/
    right:10%;
    left:10%;  
    text-align:center; /*para que horizontalmente el texto este centrado en el centro*/
   /* transform: translate(-50%,-50%);/*(Y,X)*//*permite centrar */
}  
.imagen:hover .Descripcion{/*cuando pase el mouse  por la imagen la clase descripcion hara lo siguiente:*/
 height: 100%;           /*cambiara su altura de 0 a 100% mostrando una descripcion y el muse de volvera una manito*/
 cursor:pointer;

} 



.contenedor-titulo-video{
    position:absolute;
    bottom:-22px; /*para que le titulo descriptivo se posicione 22 pixeles mas abajo de la imagen*/     
    left:0; /*con esto va estar el titulo a la misma rectura izquierda de su imagen*/
    background:white;
    width:100%;/*hasta aqui se vera que el fondo de color abarca el 100% de ancho de la etiqueta h2*/
    height:30px; 
    overflow: hidden;

}   
.titulo-video{
    
    font-size:15px;
    position:absolute; /*posicion absoluta de acuerdo a su caja padre imagen*/
    top:40%;    /*Estos valores fueron colocados  de acuerdo a pruebas para centrar el titulo video*/
    right:10%;
    left:10%;  
    text-align:center; /*para que horizontalmente el texto este centrado en el centro*/
  
}  


@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width:95%;
    }

}  
@media screen and (max-width:700px){
    .contenedor-imagenes{
        width:90%;               /*cuando la pantalla tenga un maximo de 700px el contenedor imagen tendra un ancho de 90%*/
    }
    .contenedor-imagenes .imagen{  /*y el ancho de cada imagen aumentara en porcentaje para que mediante la propiedad flex-wrap:wrap */
        width:48%;                 /* automaticamente posicionara las imagenes una debajo de otra*/
    }
    
}     
@media screen and (max-width:450px){
    #titulo-galeria{
        font-size: 22px;
    }
    
    .contenedor-imagenes{
        width:98%;
    }
    .contenedor-imagenes .imagen{
        width:80%;
    }
    
}         
footer{
    background: #1a1818;
    padding: 30px 0 30px 0;
    margin: auto;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fin{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: #ffffff;
}
.redes{
    border-bottom: 1px solid #ffffff;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
   padding-bottom: 20px;
   text-align: center;
 }
 .redes a{
     color: #ffffff;
     margin-top: 15px;
     border-bottom: 3px solid #2bbdbd;
     padding-bottom: 5px;
     margin-bottom: 10px;
     text-decoration: none;
 }
footer{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color:#ffffff;
}
