body{
    background:url('imagenes/TIGER.png');/*imagen de fondo*/
    background-repeat:repeat;/*para que imagen de fondo se repita*/
    
}
/*body{
    bac
    kground:rgb(51, 139, 255);
}

h1,h2{
    color:#3339FF;
}
div {
    color:yellowgreen;
    background:#F1CF5D
}

div h2 {
    color:rgba(119, 141, 58, 0.5);
}

p{
    color:green;
}*/

/*de aqui para bajo muestro enlaces.css */
/*a{
    font-size:20px; 
    text-decoration:none;
    color:black;
    background: blue;
    
}*/
/*enlace sin visitar*/
/*a:link{
    
    text-decoration:none;
}*/
/*enalce visitado*/
/*a:visited{
    color:red;
    
}*/
/*Estado del enlace mientras se pasa el mouse por el enlace*/
/*a:hover{
    background:#f9a03f;
    color:#fff;
    font-size:40px;

}*/
/*estado del enlace mientras se esta haciendo click*/
/*a:active{
text-decoration: underline;
}*/
