body{
    font-size:18px;
}
p{
    font-size:1.5em; /*em: funciona asi el tamaño de fuente 18px x 1.5= 27px. dado este caso duplica el tamaño fuente en pixeles del parrafo en relacion al contenedor padre(dado el caso body)*/

}
.contenedor_padre{
    font-size: 24px;            
}
div{
    background:#D7263D;
   /*  width:15rem;  */                     /*tomara en cuenta en relacion a la clase contenedor padre 24 px X 15= 360 px  y 24px X 5= 120 px. elfondo sera de 360px X 12Opx para ser exactos tendra el div que esta dentro de la clase contenedor padre*/
   /*  height:5rem;  */                     /*referencia tomara a cualquier otro contenedor que no sea body dado el caso*/
   width:70%;
   height:5cm;
}

/*
unidades Relativas
px  -pixel
em  -relativa al tamaño de fuente que tenga su elemento padre o el mas cercano
rem -relativa al tamaño de fuente especificado en el body.
%   -porcentaje

unidades absolutas
Estas medidas nunca las vas a usar en el diseño web pero aqui 
estan para que las conozcas
in  -inches (pulgadas)
cm   -centimetros
mm   -milimetros



